body {
    background: url('gandolas\ \(2\).jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', sans-serif;
}

.titulo h1 {
    text-align: center;
}

.padre {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Prata', serif;
   }
   
   .hijo {
    background: cyan;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: 3px red solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .hijo:nth-child(3) {
    background: url('foto\ de\ lisnor.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    color: white;
   }

   a {
    width: 100%;
    height: 100%;
   }

   a:visited {
    color: aquamarine;
   }

   .hijo:hover {
    background: yellow;
   }

   .hijo:active {
    background: blue;
   }

   img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }